<div class="container mt-3">
  <form [formGroup]="settingsForm" (ngSubmit)="onUpdate()">
    <label for="name" class="h3-title">Tree Name</label>
    <input type="text"
           class="h3-input"
           id="name"
           placeholder="Enter name"
           formControlName="name">

    <div class="custom-control custom-switch mb-2">
      <input type="checkbox" class="custom-control-input" id="isPrivate" formControlName="isPrivate">
      <label class="custom-control-label" for="isPrivate">
        Is {{ settingsForm.get('isPrivate').value ? 'Private' : 'Public' }}
      </label>
    </div>

    <hr/>
    <h5 class="h3-title">Tags</h5>
    <div *ngFor="let tagControl of this.tagsFormArray.controls; let i = index">
      <div class="h3-row">
        <input type="text"
               class="h3-input h3-input-short"
               placeholder="Enter tag"
               [value]="tagControl.value"
               [formControl]="tagControl">
        <button class="h3-btn h3-btn-small h3-btn-red" (click)="removeTagControl(i)">X</button>
      </div>

    </div>

    <div class="h3-row">
      <button type="button" class="h3-btn h3-btn-small h3-btn-right" (click)="addTagControl()">Add Tag</button>
    </div>

    <div class="h3-row">
      <button (click)="deleteTree()" class="h3-btn h3-btn-red h3-btn-left">Delete</button>
      <button type="submit" class="h3-btn h3-btn-right">Update</button>
    </div>
  </form>
</div>
