<div class="backdrop">
  <div class="alert-box">
    <div class="alert-box-header">
      <h3>{{ title }}</h3>
    </div>
    <div class="alert-box-content">
      <form [formGroup]="memberForm" (ngSubmit)="onSave()">

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="">Name</span>
            </div>
            <input type="text"
                   id="firstName"
                   placeholder="First Name"
                   class="form-control"
                   formControlName="firstName"
                   [readOnly]="!isOwner">
            <input type="text"
                   id="lastName"
                   placeholder="Last Name"
                   class="form-control"
                   formControlName="lastName"
                   [readOnly]="!isOwner">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="genderSelect">Gender</label>
            </div>
            <select *ngIf="isOwner" class="custom-select" id="genderSelect" formControlName="gender">
              <option [value]="gender" *ngFor="let gender of genders">{{ gender }}</option>
            </select>
            <input *ngIf="!isOwner"
                   type="text"
                   class="form-control"
                   [value]="familyMember.gender"
                   readonly="readonly">
          </div>
        </div>

        <div class="form-group" *ngIf="isOwner">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="genderSelect">Birthday</label>
            </div>
            <input class="form-control" placeholder="yyyy-mm-dd"
                   ngbDatepicker #birthdayPicker="ngbDatepicker"
                   [minDate]="{year: 1, month: 1, day: 1}"
                   [maxDate]="{year: 2100, month: 1, day: 1}"
                   formControlName="birthday">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="birthdayPicker.toggle()" type="button">📅</button>
            </div>
          </div>
        </div>

        <div class="form-group" *ngIf="!isOwner">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text">Birthday</label>
            </div>
            <input type="text"
                   class="form-control"
                   [value]="familyMember.birthday ? (familyMember.birthday | date) : 'unknown'"
                   readonly="readonly">
          </div>
        </div>

        <div class="form-group" *ngIf="isOwner">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text">Date of Death</label>
            </div>
            <input class="form-control" placeholder="yyyy-mm-dd"
                   ngbDatepicker #dateOfDeathPicker="ngbDatepicker"
                   [minDate]="{year: 1, month: 1, day: 1}"
                   [maxDate]="{year: 2100, month: 1, day: 1}"
                   formControlName="dateOfDeath">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="dateOfDeathPicker.toggle()" type="button">📅</button>
            </div>
          </div>
        </div>

        <div class="form-group" *ngIf="!isOwner">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="genderSelect">Date of Death</label>
            </div>
            <input type="text"
                   class="form-control"
                   [value]="familyMember.dateOfDeath ? (familyMember.dateOfDeath | date) : 'unknown'"
                   readonly="readonly">
          </div>
        </div>

        <div class="alert-box-actions">
          <button *ngIf="isOwner"
                  type="submit"
                  class="btn btn-success mr-1"
                  [disabled]="memberForm.invalid">Save all
          </button>

          <button *ngIf="isOwner && isNotNew"
                  type="button"
                  class="btn btn-dark mr-1"
                  (click)="onDelete()">Delete
          </button>

          <button type="button"
                  class="btn btn-danger"
                  (click)="onCancel()">{{ isOwner ? 'Cancel' : 'Close' }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
