<div class="h3-background">
  <div class="h3-center">
    <h1 class="h3-main-title">Welcome To H3</h1>
    <h3 class="h3-sub-title" routerLink="/auth" [queryParams]="{type: 'register'}">Sing up and start creating</h3>
  </div>
  <div>
    <div class="h3-box"></div>
    <div class="h3-box"></div>
    <div class="h3-box"></div>
    <div class="h3-box"></div>
    <div class="h3-box"></div>
    <div class="h3-box"></div>
    <div class="h3-box"></div>
    <div class="h3-box"></div>
    <div class="h3-box"></div>
    <div class="h3-box"></div>
  </div>
</div>
