<div class="h3-profile-container" *ngIf="user">
  <div class="h3-border">
    <div class="h3-profile">
      <div class="h3-profile-avatar">
        <img class="h3-profile-pic" [src]="showingImageUrl">
        <svg class="h3-circle" viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="40"/>
        </svg>
      </div>
      <div class="h3-user-info">
        <div class="h3-username">
          {{ user.username }}
        </div>
        <div class="h3-email">
          {{ user.email }}
        </div>
      </div>
    </div>
  </div>
</div>


<svg width="0" height="0" class="visually-hidden">
  <defs>
    <linearGradient id="gradient" x1="1" x2="0" y1="1" y2="0">
      <stop class="h3-gradient-secondary" offset="0%" stop-color="#ffffff"/>
      <stop class="h3-gradient-primary" offset="100%" stop-color="#000000"/>
    </linearGradient>
  </defs>
</svg>



<!--
<div class="container pt-5" *ngIf="user">
  <div class="row">
    <div class="col-md-4">
      <h2>Username: {{ user.username }}</h2>
      <h5>Email: {{ user.email }}</h5>
    </div>
    <div class="col-md-8">
      <app-image-uploader (imageUploaded)="updateProfilePic($event)"></app-image-uploader>
    </div>
  </div>
</div>
-->
