:root {
  font-size: 16px;
  /*for the navbar*/
  --h3-text-primary: #b6b6b6;
  --h3-text-secondary: #ececec;
  --h3-bg-primary: #23232e;
  --h3-bg-secondary: #141418;
  --h3-transition-speed: 600ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: var(--h3-bg-primary);
}

body::-webkit-scrollbar-thumb {
  background: seagreen;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  main {
    margin-bottom: 5rem;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  main {
    margin-left: 5rem;
  }
}

