:root {
  font-size: 16px;

  --h3-color-primary: #38d39f;
  --h3-color-secondary: yellowgreen;

  /*for the navbar*/
  --h3-nav-text-primary: #b6b6b6;
  --h3-nav-text-secondary: #ececec;
  --h3-nav-bg-primary: #23232e;
  --h3-nav-bg-secondary: #141418;
  --h3-nav-transition-speed: 600ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: var(--h3-nav-bg-primary);
}

body::-webkit-scrollbar-thumb {
  background: seagreen;
}

.h3-gradient-secondary {
  stop-color: var(--h3-color-secondary);
}

.h3-gradient-primary {
  stop-color: var(--h3-color-primary);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  main {
    margin-bottom: 5rem;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  main {
    margin-left: 5rem;
  }
}

