<div class="h3-fact">
  <div class="h3-additional">
    <div class="h3-user-card">
      <div class="h3-name h3-center">{{ familyMember.fullName }}</div>
      <div class="h3-date h3-center">{{ fact.date | date:'yyyy-MM-dd'}}</div>
      <img class="h3-center" [src]="pictureUrl" [alt]="'Picture of ' + familyMember.fullName">
    </div>
    <div class="h3-more-info">
      <form>
        <div class="fields">
          <label class="h3-title">Title</label>
          <input type="text" class="h3-input" [value]="">
          <label class="h3-title">Description</label>
          <textarea type="text" class="h3-input" [value]=""></textarea>
        </div>
        <button class="h3-btn">Delete</button>
        <button class="h3-btn">Save</button>
      </form>
    </div>
  </div>
  <div class="h3-general">
    <h1>{{ fact.name }}</h1>
    <p>{{ fact.description }}</p>
    <span class="more">Mouse over the card to edit</span>
  </div>
</div>
