<div *ngIf="!isOwner && familyMembers?.members.length === 0"
     class="center">
  <span class="font-weight-bold">This Family Tree is Empty!</span>
</div>

<div *ngIf="isOwner || familyMembers?.members.length !== 0" class="table-responsive">
  <table class="table table-striped table-light">
    <thead>
    <tr>
      <th>#</th>
      <th>{{ isOwner ? 'Edit' : 'View'}}</th>
      <th>Name</th>
      <th>Gender</th>
      <th class="text-center">Birthday</th>
      <th class="text-center">Date of Death</th>
      <th class="text-center">Father</th>
      <th class="text-center">Mother</th>
      <th>Partners</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let member of displayMembers; let i = index"
        [ngClass]="{'table-info': member.id === highlightedMemberId}">
      <th scope="row">{{ i + 1 }}</th>
      <td class="text-center">
        <span (click)="onStartEditing(member.id)" style="cursor: pointer;">
          {{ isOwner ? '✏️' : '🔍' }}
        </span>
      </td>
      <td>{{ member.fullName }}</td>
      <td>{{ member.gender | lowercase }}</td>
      <td class="text-center">{{ !member.birthday ? '-' : member.birthday | date }}</td>
      <td class="text-center">{{ !member.dateOfDeath ? '-' : member.dateOfDeath | date }}</td>
<!--      <td class="text-center"-->
<!--          [ngStyle]="{cursor: getDisplayMemberFullName(member.secondaryParentId) === '-' ? '' : 'pointer'}"-->
<!--          (mouseenter)="onMemberHighlighted(member.primaryParentId)"-->
<!--          (mouseleave)="onMemberHighlighted(null)">{{ getDisplayMemberFullName(member.primaryParentId) }}</td>-->
<!--      <td class="text-center"-->
<!--          [ngStyle]="{cursor: getDisplayMemberFullName(member.secondaryParentId) === '-' ? '' : 'pointer'}"-->
<!--          (mouseenter)="onMemberHighlighted(member.secondaryParentId)"-->
<!--          (mouseleave)="onMemberHighlighted(null)">{{ getDisplayMemberFullName(member.secondaryParentId) }}</td>-->
<!--      <td>-->
<!--        <div *ngFor="let partnerId of member.partners"-->
<!--             style="cursor: pointer;"-->
<!--             (mouseenter)="onMemberHighlighted(partnerId)"-->
<!--             (mouseleave)="onMemberHighlighted(null)">-->
<!--          {{ getDisplayMemberFullName(partnerId) }}-->
<!--        </div>-->
<!--      </td>-->
    </tr>
    <tr *ngIf="isOwner">
      <th scope="row">{{ this.familyMembers?.members.length + 1 }}</th>
      <td class="text-center">
        <span (click)="onStartCreating()" style="cursor: pointer;">➕</span>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>

<app-member-item *ngIf="editingMember || isCreatingMember"
                 [familyMember]="editingMember"
                 [familyMembers]="familyMembers"
                 [treeId]="treeId"
                 [isOwner]="isOwner"
                 (finishEditing)="onFinishEditing($event)"></app-member-item>
