<ul class="nav nav-tabs nav-fill">
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['graph']">Graph View</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['members']">Tree View</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['table']">Table View</a>
  </li>
  <li class="nav-item" *ngIf="isOwner">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['settings']">Settings</a>
  </li>
</ul>

<div class="container">
  <router-outlet></router-outlet>
</div>
