.container {
  position: relative;
  padding-top: 35px;
}

.h3-next-btn {
  display: inline-block;
  position: absolute;
  top: 45px;
  right: 25px;
  text-anchor: middle;
  cursor: pointer;
  background-clip: padding-box;
}

.h3-next-btn-2 {
  top: 100px;
}

.h3-border {
  position: relative;
  width: 48px;
  height: 48px;
  border: double 4px transparent;
  border-radius: 10px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  align-items: center;

  transition: ease-in 0.2s;
}

.h3-btn-title {
  display: none;
  padding: 3px;
  text-align: center;
  font-size: 20px;
  transform: translateX(-15px);
  overflow: hidden;

  transition-delay: 0.8s;
  transition: display linear 0.2s;
}

.h3-btn-svg {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  padding: 2px;
  background: transparent;
  border-radius: 8px;
  enable-background: new 0 0 100 100;
  shape-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  image-rendering: optimizeQuality;
}

@media (hover: hover) {
  .h3-border:hover .h3-btn-svg,
  .h3-border:focus .h3-btn-svg {
    top: 6px;
    right: 6px;
    width: 30px;
    height: 30px;
  }

  .h3-border:hover,
  .h3-border:focus {
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, var(--h3-color-secondary), var(--h3-color-primary));
    width: 160px;
    font-weight: bold;
  }

  .h3-border:hover .h3-btn-title,
  .h3-border:focus .h3-btn-title {
    display: block
  }
}

